<br>
<% if @lotacoes_abertas.count < 1 %>
<div class="jumbotron" align='center'>
  <br>
  <p>Este funcionário não possui lotações em andamento</p>
  <br>
  <button role="presentation" type="button" class="btn btn-primary btn-lg" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"><i class="fa fa-bars fa-fw fa-2x"></i> Visualizar histórico</button>
</div>
<% else %>
<div class="col-sm-12 col-md-12 well">
  <table class="table table-striped tabela-colapsavel">
    <thead>
      <tr>
        <th>Destino</th>
        <th>Data</th>
        <th>Estafeta</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @lotacoes_abertas.each do |lot| %>
      <tr>
        <td><%= detalhes(lot.destino) %></td>
        <td><%= lot.data_lotacao.to_s_br%></td>
        <td><%= detalhes(lot.usuario)%></td>
        <td><%= novo_state_lotacao(lot,'historico')%></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Escolha <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <%# if can? :carta, @funcionario %>
              <!-- <li><%#= link_to "<i class='fa fa-rotate-left fa-fw'></i> Cancelar lotação".html_safe, root_path,:method=>:delete,:'data-confirm'=>"Tem certeza?"%></li> -->
              <%# end %>
              <% if can? :destroy, lot %>
              <li><%= link_to "<i class='fa fa-trash fa-fw'></i> Apagar lotação".html_safe, pessoa_funcionario_lotacao_path(@pessoa,@funcionario,lot),:method=>:delete,:'data-confirm'=>"Tem certeza?"%></li>
              <% end %>
              <% if can? :carta, @funcionario %>
              <li><%= link_to "<i class='fa fa-print fa-fw'></i> Emitir Carta".html_safe, pessoa_funcionario_nova_carta_path(@pessoa,@funcionario,:lotacao=>lot.id) %></li>
              <% end %>
              <%# if can? :destroy,Funcionario %>
              <li><%= link_to "<i class='fa fa-thumbs-o-up fa-fw'></i> Confirmar Lotação".html_safe, "#",:'data-toggle'=>"modal",:'data-target'=>"#confirmacao-#{lot.id}"%></li>
              <%# end %>

              <li><a data-toggle="modal" data-target="#cancelar_lotacao-<%= lot.id %>-notes"><i class='fa fa-rotate-left fa-fw'></i> Cancelar lotação</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <%= render :partial=>"confirmar_lotacao",:locals=>{:lot=>lot}%>
      <% end%>
    </tbody>
  </table>
</div>
<% end %>

<% @lotacoes_abertas.each do |lot| %>
<!-- Modal -->
<div class="modal fade" id="cancelar_lotacao-<%= lot.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="cancelar_lotacao-<%= lot.id %>-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h3 class="modal-title" id="cancelar_lotacao-<%= lot.id %>-label" align='center'><%= lot.funcionario.pessoa.nome %></h3>
        <p><%= lot.funcionario.cargo.nome %> - <%= lot.funcionario.categoria.nome.upcase %>, DESIGNADO PARA O (A) <%= lot.destino.nome %></p>
      </div>
      <div class="modal-body">
        <p style="text-align: center"><strong>Status atual do processo:&nbsp;</strong></p>
        <%= barra_progresso_lotacao(lot) %>
        <hr>
        <%= simple_form_for :cancelar_lotacao, url: pessoa_funcionario_lotacao_salvar_cancelamento_path(@pessoa.id,@funcionario.id,lot.id), :method => :post do |f| %>
        <div class="col-sm-12 col-md-12 well">
        <%= f.input :motivo, as: :text, input_html: {size: "4x4"}, :placeholder => 'Entre com o motivo do cancelamento da lotação...',:required=>true,:autocomplete=>'on' %>
        </div>
        <%= f.submit "Confirmar!!!", :onclick=>"return confirm('Confirmar esta ação?')", :class => 'btn btn-primary' %>
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">cancelar</button>
        <% end -%>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Fechar</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- Modal -->
<% end %>

