<%content_for :titulo do%>
  Matrizes
  
  <div class="input-group col-md-4 pull-right" style="margin-right: 20px;">
    <%= search_form_for @q do |f|%>
      <%= f.search_field :nome_cont,:class=>"form-control input-lg"%>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-info btn-lg") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </span>
    </div>
  <%end%>
  <%= link_to "Criar",new_matriz_path,:class=>"btn btn-primary"%>
<%end%>
<table class="table table-striped tabela-colapsavel">
  <thead>
    <tr>
      <th>codigo</th>
      <th>modalidade</th>
      <th>dias_letivos_anuais</th>
      <th>created_at</th>
    </tr>
  </thead>
  <tbody>
    <% @matrizes.each_with_index do |m,i| %>
      <tr>
        <td><%= m.codigo%></td>
        <td><%= m.modalidade%></td>
        <td><%= m.dias_letivos_anuais%></td>
        <td><%= m.created_at%></td>
        <td>
          <%= link_to "Editar", edit_matriz_path(m),:class=>"btn btn-primary btn-xs"%>
          <%= link_to "Visualizar",matriz_path(m),:class=>"btn btn-primary btn-xs"%>
          <%= link_to "Apagar", matriz_path(m),:class=>"btn btn-danger btn-xs",:method=>:delete,:confirm=>"Tem Certeza?"%>
        </td>
      </tr>
    <% end%>
  </tbody>
</table>
<%= will_paginate @matriz,renderer: BootstrapPagination::Rails%>