<%content_for :titulo do%>
Pessoas

<div class="input-group col-md-4 pull-right">
  <%= search_form_for @q do |f|%>

  <div class="input-group">
    <%= f.search_field :nome_or_cpf_or_rg_or_funcionarios_matricula_or_lotacoes_codigo_barra_cont,:class=>"form-control input-lg"%> 
    <div class="input-group-btn">
      <%= button_tag(type: 'submit', class: "btn btn-info btn-lg") do %>
      <span class="glyphicon glyphicon-search"></span>
      <% end %>
    </div>
  </div>
</div>
<%end%>
<%=link_to "Criar",new_pessoa_path,:class=>"btn btn-primary"%>
<%end%>
<table class="table table-striped tabela-colapsavel">
  <thead>
    <tr>
      <th>NOME</th>
      <th>CPF</th>
      <th>RG</th>
      <th>NASCIMENTO</th>
      <th>Nº DE FUNC.</th>
      <th>AÇÕES</th>
    </tr>
  </thead>
  <tbody>
    <%@pessoas.each_with_index do |p,i|%>
    <tr class="accordion-toggle">
      <td data-toggle="collapse" data-target="#demo<%=i%>" style="cursor: pointer;"><%= p.nome%></td>
      <td data-toggle="collapse" data-target="#demo<%=i%>" style="cursor: pointer;" ><%= p.cpf%></td>
      <td data-toggle="collapse" data-target="#demo<%=i%>" style="cursor: pointer;" ><%= p.rg%></td>
      <td data-toggle="collapse" data-target="#demo<%=i%>" style="cursor: pointer;" ><%= p.nascimento.to_s_br%></td>
      <td data-toggle="collapse" data-target="#demo<%=i%>" style="cursor: pointer;" ><span class="badge"><%= p.funcionarios.count%></span></td>
      <td>
        <%= link_to "Funcionários",pessoa_funcionarios_path(p),:class=>"btn btn-primary btn-xs" if can? :read,Funcionario%>
        <%= link_to "Editar",edit_pessoa_path(p),:class=>"btn btn-primary btn-xs" if can? :update,Pessoa%>
        <%= link_to "Visualizar",pessoa_path(p),:class=>"btn btn-primary btn-xs"%>
        <%= link_to "Apagar", pessoa_path(p),:class=>"btn btn-danger btn-xs",:method=>:delete,:confirm=>"Tem Certeza?" if can? :destroy,Pessoa%>
      </td>
    </tr>
    <tr>
      <td colspan="10" class="hiddenRow">
        <div class="accordion-body collapse" id="demo<%=i%>">
         <br/>
         <% p.funcionarios.each.with_index(1) do |f,i|%>
         <div class="well">
          <div id='verificado-<%=f.matricula%>'>
            <%if f.verificado%>
            <%= button_to "Invalidar Funcionário",pessoa_funcionario_desverificar_funcionario_path(p,f),:remote=>true,:method=>:post,:class=>'btn btn-default btn-xs btn-danger'%>
            <%else !f.verificado%>
            <%= button_to "Validar Funcionário",pessoa_funcionario_verificar_funcionario_path(p,f),:remote=>true,:method=>:post,:class=>'btn btn-default btn-xs btn-success'%>
            <%end%>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <dt>MATRÍCULA:</dt>
              <dd><%=f.matricula%></dd>
            </div>
            <div class="col-xs-4">
              <dt>CARGO:</dt>
              <dd><%=cargo_disciplina(f)%></dd>
            </div>
            <div class="col-xs-4">
              <dt>CATEGORIA:</dt>
              <dd><%=detalhes(f.categoria)%></dd>
            </div>
            <div class="col-xs-2">
              <dt>SITUAÇÃO:</dt>
              <dd><%=situacao(f)%></dd>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-xs-2">
              <dt>ADMISSÃO:</dt>
              <dd><%=f.data_nomeacao.to_s_br%></dd>
            </div>
            <div class="col-xs-4">
              <dt>LOTAÇÃO:</dt>
              <dd><%=lotacao(f)%></dd>
            </div>
            <div class="col-xs-4">
              <dt>QUADRO:</dt>
              <dd><%=detalhes(f.entidade)%></dd>
            </div>
          </div>
          <br/>
          <div class="footer pull-right">
            <%= link_to "Editar",edit_pessoa_funcionario_path(p,f),:class=>"btn btn-primary btn-xs"  if can? :update,Funcionario and  can? :edit,Funcionario%>
            <%= link_to "Lotações",pessoa_funcionario_lotacoes_path(p,f),:class=>"btn btn-primary btn-xs" if can? :read,Lotacao%>

          </div>
          <br/>
        </div>

        <% end %>

      </div>
    </td>
  </tr>
  <% end%>
</tbody>
</table>
<%=will_paginate @pessoas%>