<%content_for :titulo do%>
  Escolas
  <div class="input-group col-md-4 pull-right" style="margin-right: 20px;">
    <%= search_form_for @q do |f|%>
      <%= f.search_field :nome_cont,:class=>"form-control input-lg"%>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-info btn-lg") do %>
          <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </span>
      </div>
      <%end%>
      <%= link_to "Criar",new_escola_path,:class=>"btn btn-primary"%>
      <%end%>
      <table class="table table-striped tabela-colapsavel">
        <thead>
          <tr>
            
              <th>CÓDIGO</th>
            
              <th>NOME</th>
            
              <th>REDE</th>
            
              <th>MUNICIPIO</th>
            
          </tr>
        </thead>
        <tbody>
          <% @escolas.each_with_index do |e,i| %>
    
          
          
          <tr>
            
              <td><%= e.codigo%></td>
            
              <td><%= e.nome%></td>
            
              <td><%= detalhes(e.rede)%></td>
            
              <td><%= detalhes(e.municipio)%></td>
            
            <td>
              <%= link_to "Editar", edit_escola_path(e),:class=>"btn btn-primary btn-xs"%>
      <%= link_to "Visualizar",escola_path(e),:class=>"btn btn-primary btn-xs"%>
      <%= link_to "Apagar", escola_path(e),:class=>"btn btn-danger btn-xs",:method=>:delete,:confirm=>"Tem Certeza?"%>
      </td>
          </tr>
          <% end%>
        </tbody>
      </table>
      <%= will_paginate @escola%>