<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Sign in to continue to Bootsnipp</h1>
      <div class="account-wall">
        <%= image_tag "logo.png",:class=>"profile-img"%>
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin' }) do |f| %>
        <%= f.input :username,:label=>false,:placeholder=>"Usuário",:input_html=>{:class=>"form-control"},:wrapper=>false%>
        <%= f.input :password,:label=>false,:placeholder=>"Senha",:input_html=>{:class=>"form-control"},:wrapper=>false%>
            <%=f.submit "Entrar",:class=>"btn btn-lg btn-primary btn-block"%>
        <%  end %>
      </div>

    </div>
  </div>
</div>