  <script type="text/javascript">
   jQuery(function() {
    jQuery('.pagination a').attr('data-remote', 'true');
  });
 </script>
 <table class="table table-striped" cellspacing="0">
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>Funcionário</th>
      <th>Cargo</th>
      <th>Local</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @funcionarios.each do |f| %>
    <tr>
     <td><%= f.matricula %></td>
     <td><%= detalhes(f.pessoa) %></td>
     <td><%= cargo_resumido(f) %></td>
     <td><%= destino(f.lotacoes.where("destino_id = ? or destino_id in (?)",@objeto.id,@objeto.departamentos_filho_ids).last) %></td>
     <td>
     <%if can? :manage,Lotacao and !@objeto.lotacoes.ativas.find_by_funcionario_id(f.id).nil?%>
     <%= link_to "Devolver Funcionário", pessoa_funcionario_lotacao_devolver_funcionario_path(f.pessoa,f,@objeto.lotacoes.ativas.find_by_funcionario_id(f.id))  %>
     <%else%>
     Setorial Subordinado
     <% end %>
     </td>
   </tr>
   <% end %>
 </tbody>
</table>
<%= will_paginate @funcionarios, :remote => true,:params=>{:aba=>'funcionarios'}%>
