<div class="page-header" align='center'>
  <h1>Contrato Administrativo - Confirmação</h1>
  <h3><%= @pessoa.nome%></h3>
</div>
<div class='col-sm-12 col-md-12 well'>
  <div class='col-sm-6 col-md-6'>
    <dl class="dl-horizontal">
      <dt><strong>Sexo:</strong></dt>
      <dd><%= detalhes(@pessoa.sexo) %></dd>

      <dt><strong>CPF:</strong></dt>
      <dd><%= detalhes(Cpf.new(@pessoa.cpf).numero) %></dd>

      <dt><strong>Data de Nascimento:</strong></dt>
      <dd><%= detalhes(@pessoa.nascimento.to_s_br) %></dd>

      <dt><strong>RG:</strong></dt>
      <dd><%= detalhes(@pessoa.rg) %> <%= detalhes(@pessoa.uf) %></dd>

      <dt><strong>PIS:</strong></dt>
      <dd><%= detalhes(@pessoa.pis_pasep) %></dd>

      <dt><strong>Naturalidade:</strong></dt>
      <dd><%= detalhes(@pessoa.naturalidade) %></dd>

      <dt><strong>Nacionalidade:</strong></dt>
      <dd><%= detalhes(@pessoa.nacionalidade) %></dd>

      <dt><strong>Estado Civil:</strong></dt>
      <dd><%= detalhes(@pessoa.estado_civil) %></dd>

    </dl>
  </div>
  <div class='col-sm-6 col-md-6 row'>
    <dl class="dl-horizontal">
      <dt><strong>Endereço:</strong></dt>
      <dd><%= detalhes(@pessoa.endereco) %></dd>

      <dt><strong>Cidade:</strong></dt>
      <dd><%= detalhes(@pessoa.cidade) %></dd>

      <dt><strong>CEP:</strong></dt>
      <dd><%= detalhes(@pessoa.cep) %></dd>

      <dt><strong>Telefone Residencial:</strong></dt>
      <dd><%= detalhes(@pessoa.telefone_residencial) %></dd>

      <dt><strong>Telefone Celular:</strong></dt>
      <dd><%= detalhes(@pessoa.telefone_celular) %></dd>

      <dt><strong>Email:</strong></dt>
      <dd><%= detalhes(@pessoa.email) %></dd>
    </dl>
  </div>
</div>
<%= simple_form_for @pessoa, :url => wizard_path do |f| %>
<%= link_to 'Retornar à etapa anterior', previous_wizard_path,:class => 'btn btn-default btn-xs' %>
<%= f.submit "Confirmar e inserir informações funcionais",:class => 'btn btn-primary' %>
<% end  %>
