<%model_class = Pessoa%>
<%content_for :titulo do%>
Detalhes do Contrato de  <%=@pessoa.nome%>
<%end%>
<div class='col-sm-12 col-md-12 well'>
  <div class='col-sm-6 col-md-6'>
    <dl class="dl-horizontal">
      <h3>Dados Pessoais</h3>
      <dt><strong>Nome:</strong></dt>
      <dd><%= @pessoa.nome %></dd>
      <dt><strong>Sexo:</strong></dt>
      <dd><%= detalhes(@pessoa.sexo) %></dd>
      <dt><strong>Telefone Celular:</strong></dt>
      <dd><%= detalhes(@pessoa.telefone_celular) %></dd>
      <dt><strong>Data de Nascimento:</strong></dt>
      <dd><%= detalhes(@pessoa.nascimento.to_s_br) %></dd>
      <dt><strong>CPF:</strong></dt>
      <dd><%= detalhes(Cpf.new(@pessoa.cpf).numero) %></dd>
      <dt><strong>RG:</strong></dt>
      <dd><%= detalhes(@pessoa.rg) %></dd>
      <dt><strong>UF RG:</strong></dt>
      <dd><%= detalhes(@pessoa.uf) %></dd>
      <dt><strong>PIS:</strong></dt>
      <dd><%= detalhes(@pessoa.pis_pasep) %></dd>
      <% if current_user.role?(:chefia_ucolom) or current_user.role?(:admin)%>
      <dt><strong>Endereço:</strong></dt>
      <dd><%= detalhes(@pessoa.endereco) %></dd>
      <dt><strong>Telefone Residencial:</strong></dt>
      <dd><%= detalhes(@pessoa.telefone_residencial) %></dd>
      <dt><strong>Naturalidade:</strong></dt>
      <dd><%= detalhes(@pessoa.naturalidade) %></dd>
      <dt><strong>Nacionalidade:</strong></dt>
      <dd><%= detalhes(@pessoa.nacionalidade) %></dd>
      <dt><strong>Cidade:</strong></dt>
      <dd><%= detalhes(@pessoa.cidade) %></dd>
      <dt><strong>Estado Civil:</strong></dt>
      <dd><%= detalhes(@pessoa.estado_civil) %></dd>
      <dt><strong>CEP:</strong></dt>
      <dd><%= detalhes(@pessoa.cep) %></dd>
      <dt><strong>Email:</strong></dt>
      <dd><%= detalhes(@pessoa.email) %></dd>
      <dt><strong>Nome do Pai:</strong></dt>
      <dd><%= detalhes(@pessoa.pai) %></dd>
      <dt><strong>Nome da Mãe:</strong></dt>
      <dd><%= detalhes(@pessoa.mae) %></dd>
    </dl>
  </div>
  <div class='col-sm-6 col-md-6'>
    <%@pessoa.funcionarios.each do |f|%>
    <div id="funcional">
      <h3>Dados Funcionais</h3>
      <dl class="dl-horizontal">
        <dt><strong>Cargo:</strong></dt>
        <dd><%= detalhes(f.cargo) %></dd>
        <%if f.cargo and f.cargo.nome=="PROFESSOR"%>
        <dt><strong>Disciplina de Contratação:</strong></dt>
        <dd><%= detalhes(f.disciplina_contratacao) %></dd>
        <%end%>
        <dt><strong>Referência/Nível:</strong></dt>
        <dd><%= detalhes(f.nivel,'codigo') %></dd>
        <dt><strong>Município de Opção:</strong></dt>
        <dd><%= detalhes(f.municipio) %></dd>
        <dt><strong>Distrito/Área de Opção:</strong></dt>
        <dd><%= detalhes(f.distrito) %></dd>
        <dt><strong>Data de Admissão:</strong></dt>
        <dd><%= detalhes(f.data_nomeacao.to_s_br) %></dd>
        <dt><strong>Lotação:</strong></dt>
        <dd><%= lotacao(f) %></dd>
        <dt><strong>Natureza da Lotação:</strong></dt>
        <dd><%= detalhes(@lotacao.natureza) %></dd>
        <%end%>
      </dl>
    </div>
  </div>
  </div>
  <%end%>
  <%= link_to "Voltar",
  contratos_index_path, :class => 'btn btn-default'  %>
  <%= link_to "Editar",
  contratos_editar_path(:pessoa_id=>@pessoa.id), :class => 'btn btn-default' if can?(:manage,Contrato)%>
  <%= link_to "Apagar",
  contratos_apagar_path(:pessoa_id=>@pessoa),
  :method => 'delete',
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
  :class => 'btn btn-danger' if can?(:manage,Contrato)%>
  <%#= link_to "Emitir Carta de Apresentação", pessoa_funcionario_carta_path(@pessoa,@funcionario,:lotacao=>@lotacao.id),:class=>"btn btn-primary" if @lotacao%>
  <%= link_to "<i class='fa fa-print fa-fw'></i> Emitir Carta".html_safe, pessoa_funcionario_nova_carta_path(@pessoa,@funcionario,:lotacao=>@lotacao.id),:class=>"btn btn-primary" if @lotacao %>
  <%= link_to "<i class='fa fa-print fa-fw'></i> Emitir Contrato".html_safe, contratos_gerar_path(:pessoa_id=>@pessoa.id),:class=>"btn btn-primary" if can?(:manage,Contrato)%>
