<%content_for :titulo do%>
Novo Contrato Administrativo
<% end %>
<%= simple_form_for @pessoa, :url=>contratos_atualizar_url(:pessoa_id=>@pessoa.id),:method=>:post,:html => { :class => 'form-horizontal' } do |p| %>
<h3>Dados Pessoais</h3>
  <%= p.input :nome %>
  <%= p.input :sexo,:as=>:select,:collection=>["Masculino","Feminino"]%>
  <%= p.input :endereco,:label=>"Endereço" %>
  <%= p.input :numero %>
  <%= p.input :complemento %>
  <%= p.input :bairro %>
  <%= p.input :telefone_residencial,:input_html=>{:class=>"telefone"}%>
  <%= p.input :telefone_celular,:input_html=>{:class=>"celular"}%>
  <%= p.input :nascimento,:as=>:string,:input_html=>{:class=>"data"}%>
  <%= p.input :naturalidade %>
  <%= p.input :nacionalidade,:collection=>["Brasileiro","Outro"] %>
  <%= p.input :cpf ,:input_html=>{:class=>"cpf"}%>
  <%= p.input :rg ,:label=>"RG"%>
  <%= p.input :uf ,:label=>"UF do RG",:collection=>Estado.all.collect{|e|e.sigla}%>
  <%= p.input :pis_pasep ,:label=>"PIS/PASEP"%>
  <%= p.input :cidade_id,:collection=>@municipios,:label=>"Município de Residência"%>
  <%= p.input :estado_civil,:as=>:select,:collection=>["Solteiro(a)","Casado(a)","Divorciado(a)","Viúvo(a)","Relação Estável"] %>
  <%= p.input :cep,:input_html=>{:class=>"cep"}%>
  <%= p.input :email,:as=>:email %>
  <%= p.input :pai %>
  <%= p.input :mae,:label=>"Mãe" %>

<h3>Dados Funcionais</h3>
<%= simple_fields_for :funcionario,@funcionario do |f|%>


<%= f.input :cargo_id,as: :select, :collection=>@cargos,:input_html=>{:id=>"funcionario_cargo_id"}%>

 <div id='disc'>
    <%= f.input :disciplina_contratacao_id,as: :select, :collection=>@disciplinas if !@funcionario.new_record? and @funcionario.cargo and @funcionario.cargo.nome=="PROFESSOR"%>
  </div>
<%= f.input :nivel_id,as: :select, :collection=>@niveis,:label=>"Referência/Nível" %>
<%= f.input :data_nomeacao,as: :string,input_html: {class: "data",value: (@funcionario.data_nomeacao.strftime("%d/%m/%Y") if !@funcionario.new_record? and !  @funcionario.data_nomeacao.blank?)},:label=>"Admissão"%>
<%= f.input :municipio_id,as: :select, :collection=>@municipios,:label=>"Município de Opção",:input_html=>{:id=>"funcionario_municipio_id"}%>
  <div id='dist'>
    <%= f.input :distrito_id,as: :select, :collection=>@distritos,:label=>"Distrito de Opção" if @funcionario
    .distrito or (@funcionario.municipio and @funcionario.municipio.distritos.count>0)%>
  </div>
  

<%end%>
<%= simple_fields_for :lotacao,@lotacao do |f|%>
  <%= f.input :data_lotacao,:as=>:string,:input_html=>{:class=>"data",:value=>Date.today}%>
  <%= f.input :tipo_lotacao,:label=>"Tipo de Destino",:as=>:radio_buttons,:collection=>@tipos,:checked=>@tipo, item_wrapper_class: 'inline'%>
  <div id="destino">
  <% if @lotacao.destino_type=="Escola"%>
    <%= f.input :destino_nome,:label=>"Escola",:as=>:autocomplete,:url=>lotacoes_autocomplete_escola_nome_path,:input_html=>{:class=>"string form-control",:value=>@lotacao.destino.nome},:id_element=>"#lotacao_destino_id",:required=>true%>
    <%= f.input :destino_id,:as=>:hidden,:input_html=>{:value=>@lotacao.destino.id}%>
    <%= f.input :usuario_id,:as=>:hidden,:input_html=>{:value=>current_user.id}%>
    <%= f.input :funcionario_id,:as=>:hidden,:input_html=>{:value=>@funcionario.id}%>
    <%= f.input :destino_type,:as=>:hidden,:input_html=>{:value=>"Escola"}%>
    <%else%>
    <%= f.input :destino_nome,:label=>"Setorial",:as=>:autocomplete,:url=>lotacoes_autocomplete_departamento_nome_path,:input_html=>{:class=>"string form-control",:value=>@lotacao.destino.nome if @lotacao.destino},:id_element=>"#lotacao_destino_id",:required=>true%>
    <%= f.input :destino_id,:as=>:hidden,:input_html=>{:value=>@lotacao.destino.id}%>
    <%= f.input :usuario_id,:as=>:hidden,:input_html=>{:value=>current_user.id}%>
    <%= f.input :funcionario_id,:as=>:hidden,:input_html=>{:value=>@funcionario.id}%>
    <%= f.input :destino_type,:as=>:hidden,:input_html=>{:value=>@lotacao.destino_type}%>
    <%end%>
  </div>
  <%=f.input :motivo,:as=>:text,:label=>"Observação/Motivo",:input_html=>{:size=>"2x3"}%>
<%end%>




  <%= p.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contratos_index_path, :class => 'btn btn-default' %>
<% end %>
