<%content_for :titulo do%>
Estatísticas Gerais do Contrato Administrativo
<%end%>
<div class="well">
  <legend>Estatísticas</legend>
  <h4>GERAL</h4>
  Contratos Emitidos: <%= @contratos.count %>
  <%@contratos.group_by(&:cargo).each do |cargo,f|%>
  <h4><%=cargo.nome%></h4>
  Contratos Emitidos: <%=f.count%>
  <%end%>
  
  
  <h3>Estatísticas do dia <%=@data.to_date%></h3>
  
  <h4>GERAL</h4>
  Contratos Emitidos: <%= @contratos_data.count %>
  <%@contratos_data.group_by(&:cargo).each do |cargo,f|%>
  <h4><%=cargo.nome%></h4>
  Contratos Emitidos: <%=f.count%>
  <%end%>

<p>
<h4>Selecione a data</h4>
  <%= form_tag(contratos_estatisticas_path,:method=>:get) do |f|%>
  <%= select_date(@data.to_date)%>
  <br><br>
  <%= submit_tag 'Selecionar Data',:class=>"btn btn-default btn-info" %>
  <%end%>
  </p>
</div>


<%= link_to "Voltar",
contratos_index_path, :class => 'btn btn-default'  %>
