<%content_for :titulo do%>
Novo Contrato Administrativo
<% end %>
<%= simple_form_for @pessoa, :url=>contratos_salvar_url,:html => { :class => 'form-horizontal' } do |p| %>
<h3>Dados Pessoais</h3>
<%= p.input :nome %>
<%= p.input :sexo,:as=>:select,:collection=>["Masculino","Feminino"]%>
<%= p.input :endereco,:label=>"Endereço" %>
<%= p.input :numero %>
<%= p.input :complemento %>
<%= p.input :bairro %>
<%= p.input :telefone_residencial,:input_html=>{:class=>"telefone"}%>
<%= p.input :telefone_celular,:input_html=>{:class=>"celular"}%>
<%= p.input :nascimento,:as=>:string,:input_html=>{:class=>"data"}%>
<%= p.input :naturalidade %>
<%= p.input :nacionalidade,:collection=>["Brasileiro","Outro"] %>
<%= p.input :cpf ,:input_html=>{:class=>"cpf"}%>
<%= p.input :rg ,:label=>"RG"%>
<%= p.input :uf ,:label=>"UF do RG",:collection=>Estado.all.collect{|e|e.sigla}%>
<%= p.input :pis_pasep ,:label=>"PIS/PASEP"%>
<%= p.input :cidade_id,:collection=>@municipios,:label=>"Município de Residência"%>
<%= p.input :estado_civil,:as=>:select,:collection=>["Solteiro(a)","Casado(a)","Divorciado(a)","Viúvo(a)","Relação Estável"] %>
<%= p.input :cep,:input_html=>{:class=>"cep"}%>
<%= p.input :email,:as=>:email %>
<%= p.input :pai %>
<%= p.input :mae,:label=>"Mãe" %>

<h3>Dados Funcionais</h3>
<%= p.simple_fields_for :funcionarios do |f|%>
<%#=f.input :categoria_id,:as=>:hidden,:input_html=>{:value=>@categoria.id}%>
<%=f.input :entidade_id,:as=>:hidden,:input_html=>{:value=>@entidade.id}%>
<%=f.input :ativo,:as=>:hidden,:input_html=>{:value=>true}%>

<%= f.input :categoria_id,as: :select, :collection=>@categorias_contrato%>
<%= f.input :cargo_id,as: :select, :collection=>@cargos,:input_html=>{:id=>"funcionario_cargo_id"}%>

<div id='disc'>
  <%= f.input :disciplina_contratacao_id,as: :select, :collection=>@disciplinas if f.object.cargo  and f.object.cargo.nome=="PROFESSOR"%>
</div>
<%= f.input :nivel_id,as: :select, :collection=>@niveis,:label=>"Referência/Nível" %>
<%= f.input :data_nomeacao,as: :string,input_html: {class: "data",value: (f.object.data_nomeacao.strftime("%d/%m/%Y") if !f.object.data_nomeacao.blank?)},:label=>"Admissão"%>
<%= f.input :municipio_id,as: :select, :collection=>@municipios,:label=>"Município de Opção",:input_html=>{:id=>"funcionario_municipio_id"}%>
<div id='dist'>
  <%= f.input :distrito_id,as: :select, :collection=>@distritos,:label=>"Distrito de Opção"%>
</div>

<%= f.simple_fields_for :lotacoes do |l|%>
<%= l.input :usuario_id,:as=>:hidden,:input_html=>{:value=>current_user.id}%>
<%= l.input :data_lotacao,:as=>:string,:input_html=>{:class=>"data",:value=>Date.today}%>
<%= l.input :tipo_lotacao,:label=>"Tipo de Destino",:as=>:radio_buttons,:collection=>@tipos,:checked=>'REGULAR', item_wrapper_class: 'inline'%>
<div id="destino">
  <%= l.input :destino_nome,:label=>"Escola",:as=>:autocomplete,:url=>lotacoes_autocomplete_escola_nome_path,:input_html=>{:class=>"string form-control"},:id_element=>"#lotacao_destino_id",:required=>true%>
  <%= l.input :destino_id,:as=>:hidden,:input_html=>{:id=>"lotacao_destino_id"}%>
  <%= l.input :destino_type,:as=>:hidden,:input_html=>{:value=>"Escola"}%>
</div>
<%=l.input :motivo,:label=>"Observação/Motivo",:input_html=>{:size=>"2x3"}%>
<%end%>

<%end%>



<%= p.button :submit, :class => 'btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
contratos_index_path, :class => 'btn btn-default' %>
<% end %>
