<%content_for :titulo do%>
  Disciplina_contratacoes
  <div class="input-group col-md-4 pull-right" style="margin-right: 20px;">
    <%= search_form_for @q do |f|%>
      <%= f.search_field :nome_cont,:class=>"form-control input-lg"%>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-info btn-lg") do %>
          <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </span>
      </div>
      <%end%>
      <%= link_to "Criar",new_disciplina_contratacao_path,:class=>"btn btn-primary"%>
      <%end%>
      <table class="table table-striped tabela-colapsavel">
        <thead>
          <tr>
            
              <th>codigo</th>
            
              <th>nome</th>
            
          </tr>
        </thead>
        <tbody>
          <% @disciplina_contratacoes.each_with_index do |d,i| %>
    
          
          <tr>
            
              <td><%= d.codigo%></td>
            
              <td><%= d.nome%></td>
            
            <td>
              <%= link_to "Editar", edit_disciplina_contratacao_path(d),:class=>"btn btn-primary btn-xs"%>
      <%= link_to "Visualizar",disciplina_contratacao_path(d),:class=>"btn btn-primary btn-xs"%>
      <%= link_to "Apagar", disciplina_contratacao_path(d),:class=>"btn btn-danger btn-xs",:method=>:delete,:confirm=>"Tem Certeza?"%>
      </td>
          </tr>
          <% end%>
        </tbody>
      </table>
      <%= will_paginate @disciplina_contratacao,renderer: BootstrapPagination::Rails%>