<%content_for :titulo do%>
  Funcionarios
  
  <%= link_to "Criar",new_pessoa_funcionario_path(@pessoa),:class=>"btn btn-primary"%>
<%end%>
<table class="table table-striped tabela-colapsavel">
  <thead>
    <tr>
      <th>MATRÍCULA</th>
      <th>CARGO</th>
      <th>CATEGORIA</th>
      <!-- <th>QUADRO</th> -->
      <th>LOTAÇÃO</th>
      <th>AÇÕES</th>
    </tr>
  </thead>
  <tbody>
    <% @funcionarios.each_with_index do |f,i| %>
      <tr>
        <td><%= f.matricula%></td>
        <td><%= cargo_disciplina(f)%></td>
        <td><%= detalhes(f.categoria)%></td>
        <!-- <td><%= detalhes(f.entidade)%></td> -->
        <td><%= lotacao(f)%></td>
        <td>
          <%= link_to "Editar", edit_pessoa_funcionario_path(@pessoa,f),:class=>"btn btn-primary btn-xs"%>
          <%= link_to "Visualizar",pessoa_funcionario_path(@pessoa,f),:class=>"btn btn-primary btn-xs"%>
          <%= link_to "Apagar", pessoa_funcionario_path(@pessoa,f),:class=>"btn btn-danger btn-xs",:method=>:delete,:confirm=>"Tem Certeza?"%>
        </td>
      </tr>
    <% end%>
  </tbody>
</table>
<%= will_paginate @funcionario%>