<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="MALOHKA">
    <link rel="icon" href="/assets/favicon.ico">
    <title>SIGED 4</title>
    <!-- Bootstrap core CSS -->
    <%=stylesheet_link_tag "application.css"%>
    <%=csrf_meta_tags%>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SIGED 4</a>
        </div>
      </div>
    </nav>
    <div class="col-md-12 main">
      <h1 class="page-header"><%=yield :titulo%></h1>
      <%= yield%>
    </div>
  </div>
</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%=javascript_include_tag "application.js"%>
</body>
</html>