<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="MALOHKA">
    <link rel="icon" href="/assets/favicon.ico">
    <title>SIGED 4</title>
    <!-- Bootstrap core CSS -->
    <%=stylesheet_link_tag "application.css"%>
    <%=csrf_meta_tags%>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SIGED 4</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Página Inicial",root_url%></li>
            <% if user_signed_in?%>
            <li><%= link_to "Perfil",edit_user_registration_url%></li>
            <li><a href="#" title="Em breve">Mensagens</a></li>
            <li><a href="/users/sign_out">Sair</a></li>
            <%else%>
            <li><a href="/users/sign_in">Entrar</a></li>
            <%end%>
            <li><a href="#" title="Em breve">Ajuda</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="accordion-toggle" data-toggle="collapse" data-target="#accordion-menu1"><a href="#">RH</a></li>
          </ul>
          <ul class="nav nav-sidebar collapse" id="accordion-menu1">
            <% if can?(:read,Pessoa)%>
              <li><%=link_to "Pessoas", pessoas_path%></li>
            <%end%>
            <%if can? :manage,Lotacao%>
            <li><%=link_to "Contratos Administrativos", contratos_index_path%></li>
            <%end%>
            <!--<%=setor%>-->
           <!--  <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li> -->
          </ul>
          <% if can?(:configurar,:all)%>
            <ul class="nav nav-sidebar">
              <li class="accordion-toggle" data-toggle="collapse" data-target="#accordion-menu2"><a href="#">Configurações</a></li>
            </ul>
            <ul class="nav nav-sidebar collapse" id="accordion-menu2">
              <% if can?(:read,Cargo)%>
                <li><%=link_to "Cargos", cargos_path%></li>
              <%end%>
              <% if can?(:read,ReferenciaNivel)%>
                <li><%=link_to "Planos de Carreira", referencia_niveis_path%></li>
              <%end%>
              <% if can?(:read,Categoria)%>
                <li><%=link_to "Categorias Funcionais", categorias_path%></li>
              <%end%>
              <% if can?(:read,DisciplinaContratacao)%>
                <li><%=link_to "Disciplinas de Contratação", disciplina_contratacoes_path%></li>
              <%end%>
              <% if can?(:read,Usuario)%>
                <li><%=link_to "Usuários", usuarios_path%></li>
              <%end%>
              <% if can?(:read,Role)%>
                <li><%=link_to "Tipos de perfil", roles_path%></li>
              <%end%>
            </ul>
          <%end%>
          <% if can?(:gestao_escolar,:all)%>
            <ul class="nav nav-sidebar">
              <li class="accordion-toggle" data-toggle="collapse" data-target="#accordion-menu3"><a href="#">Gestão Escolar</a></li>
            </ul>
            <ul class="nav nav-sidebar collapse" id="accordion-menu3">
              <% if can?(:read,Escola)%>
                <li><%=link_to "Escolas", escolas_path%></li>
              <%end%>
              <% if can?(:read,NiveisEnsino)%>
                <li><%=link_to "Niveis de Ensino", niveis_ensinos_path%></li>
              <%end%>
              <% if can?(:read,Matriz)%>
                <li><%=link_to "Matrizes Curriculares", matrizes_path%></li>
              <%end%>
            </ul>
          <%end%>
          <% if can?(:configurar,:all)%>
            <ul class="nav nav-sidebar">
              <li class="accordion-toggle" data-toggle="collapse" data-target="#accordion-menu4"><a href="#">Estrutura Organizacional</a></li>
            </ul>
            <ul class="nav nav-sidebar collapse" id="accordion-menu4">
              <% if can?(:read,Escola)%>
                <li><%=link_to "Escolas", escolas_path%></li>
              <%end%>
              <% if can?(:read,Orgao)%>
                <li><%=link_to "Orgãos", orgaos_path%></li>
              <%end%>
              <% if can?(:read,Departamento) and current_user.unidade_organizacional%>
                <li><%=link_to "Departamentos do seu Orgão", orgao_departamentos_path(current_user.unidade_organizacional.orgao)%></li>
              <%end%>
            </ul>
          <%end%>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%=yield :titulo%></h1>
          <%= yield%>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%=javascript_include_tag "application.js"%>
</body>
</html>